@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  /* Secondary */
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --background-main: hsl(230, 25%, 95%);
  /* Font */
  --font-size: 18px;
  --font-family: 'Poppins', sans-serif;
  --font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 calc(2rem + 5vw);
  max-width: 1700px;
  width: 100vw;
  overflow-x: hidden;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem 0;
}

.header__nav--ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__nav--li:nth-child(5) {
  margin-left: auto;
}

.header__nav--li:last-of-type {
  background-color: var(--cyan);
  border-radius: 50px;
  padding: .5rem 1.5rem;
  flex-shrink: 0;
}

.header__nav--a {
  color: var(--gray);
  font-family: var(--font-family);
  font-weight: 700;
}

.header__nav--a:hover {
  color: var(--very-dark-violet);
}

.header__nav--li:last-child a {
  color: white;
}

.header__nav--button {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: none;
}

.banner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10rem;
  height: 482px;
  width: 100%;
  margin-bottom: 5rem;
}

.banner__title {
  color: var(--very-dark-violet);
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: none;
  width: 12ch;
}

.banner__paragraph {
  color: var(--grayish-violet);
  line-height: 1.5;
  margin-bottom: 2rem;
    width: 40ch;
}

.banner__button {
  background-color: var(--cyan);
  border: none;
  border-radius: 50px;
  color: white;
  font-family: var(--font-family);
  padding: .5rem 1.5rem;
}

.banner__button:hover {
  cursor: pointer;
}

.banner__image {
  position: absolute;
  width: 733px;
  height: 482px;
  z-index: -1;
  right: calc(43% - 733px);
  top: -20%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: var(--background-main);
}

.input {
  position: absolute;
  top: -9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding: 2rem 3rem;
  background-color: var(--very-dark-violet);
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 9px;
  width: 100%;
  max-width: 1110px;
  gap: 1rem;
}

.input__link {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: var(--very-dark-violet);
  padding: 1rem 1.5rem;
  flex: 2 2 570px;
}

.input__link::placeholder {
  color: var(--grayish-violet);
} 

.input__button {
  background-color: var(--cyan);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: .5rem 1.5rem;
  flex: 1 0 115px;
  padding: 1rem 1.5rem;
}

.input__button:hover {
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  height: max-content;
  max-width: 1110px;
}

.results__links {
  border-radius: 8px;
  color: var(--very-dark-violet);
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.result__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  gap: 1rem;
  background-color: white;
}

.result__link {
  width: 80%;
  overflow-x: auto;
}

.result__shorten-link {
  margin-left: auto;
  color: var(--cyan);
}

.result__link, .result__shorten-link {
  overflow-wrap: break-word;
}

.result__button {
  background-color: var(--cyan);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: .5rem 1.5rem;
  flex: 0 0 90px;
}

.result__button:hover {
  cursor: pointer;
}

.result__button:active {
  transform: translateY(2px);
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  width: 100%;
}

.statistic__advanced {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic__advanced--title {
  color: var(--very-dark-violet);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.statistic__advanced--paragraph {
  color: var(--grayish-violet);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
  width: 45ch;
}

.statistics__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: safe center;
  gap: 2rem;
  margin-top: none;
}

.statistics__details--card {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  width: 100%;
  max-width: 355px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.statistics__details--card:nth-child(2) {
 margin-top: 5rem;
}

.statistics__details--card:nth-child(3) {
  margin-top: 10rem; 
}

.statistics__details--card:nth-child(2)::before {
  content: '';
  height: 10px;
  width: 2rem;
  background-color: var(--cyan);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateX(-100%);
  z-index: -1;
}

.statistics__details--card:nth-child(2)::after {
  content: '';
  height: 10px;
  width: 2rem;
  background-color: var(--cyan);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateX(100%);
  z-index: -1;
}

.statistics__details--card span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -11%;
  left: 10%;
  background-color: var(--dark-violet);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.statistics__details--card span img {
  width: 30px;
  height: 30px;
}

.statistics__details--card h3 {
  color: var(--very-dark-violet);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.statistics__details--card p {
  color: var(--grayish-violet);
  line-height: 1.5;
  margin-bottom: 2rem;
  width: 100%;
}

.main__footer {
  background-color: var(--very-dark-violet);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.main__footer--title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.main__footer--button {
  background-color: var(--cyan);
  border: none;
  border-radius: 50px;
  color: white;
  font-family: var(--font-family);
  padding: .5rem 1.5rem;
}

.main__footer--button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-violet);
}

.footer__logo{
  fill: white;
  margin-right: auto;
  flex-shrink: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  align-items: flex-start;
  padding-top: 1rem;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: .5rem;
  margin: 0;
}

.footer__list li:nth-child(1) {
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__list li a{
  color: var(--grayish-violet);
  margin-bottom: .5rem;
}

.footer__list li a:hover {
  color: var(--cyan);
}

.footer__list--socialNetworks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.attribution {
  color: white;
  font-size: .8rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
  }

  .header__nav--ul {
    gap: 2rem;
    display: none;
  }

  .header__nav--button {
    display: block;
    fill: var(--grayish-violet);
  }

  .banner {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: auto;
  }

  .banner__image {
    order: -1;
    position: relative;
    left: 25vw;
    top: 0;
    width: 140vw;
    height: 80vh;
  }

  .banner__title {
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0 1rem 0;
  }

  .banner__paragraph {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 30ch;
  }

  .banner__button {
    margin-bottom: 4rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }

  .input {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .results {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }

  .result__shorten-link {
    max-width: 30%;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }

  .statistic__advanced--paragraph {
    text-align: center;
    margin-bottom: 2rem;
    width: 30ch;
  }

  .statistics__details {
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    gap: 2rem;
  }

  .statistics__details--card {
    align-items: center;
    text-align: center;
    width: 32ch;
  }

  .statistics__details--card:nth-child(2), .statistics__details--card:nth-child(3) {
    margin-top: 0;
  }

  .statistics__details--card span {
    top: calc(0% - 1.7rem);
    left: calc(50% - 30px);
  }

  .statistics__details--card:nth-child(2)::before {
    top: calc(0% - 4rem);
    left: calc(50% - 5px);
    height: 4rem;
    width: 10px;
    transform: inherit;
  }

  .statistics__details--card:nth-child(2)::after {
    top: unset;
    bottom: calc(0% - 15rem);
    left: calc(50% - 5px);
    height: 15rem;
    width: 10px;
    transform: inherit;
  }

  .main__footer {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__footer--title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer__links {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 0;
  }

  .footer__list {
    align-items: center;
    text-align: center;
  }

  .footer__logo {
    margin: auto;
  }

  .footer__list--socialNetworks {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  /* footer, header, .input, .results, .main__footer {
    display: none;
  }  */
}